/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffffff, #6b6f72);
    color: #0c2461;
    line-height: 1.6;
    scroll-behavior: smooth;
    min-height: 100vh;
}

/* ----------------------------------------------- */
/* HEADER STYLES */
/* ----------------------------------------------- */

header {
    background-color: rgba(74, 105, 189, 0.9);
    color: #0c2461;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: #0c2461;
}

/* ----------------------------------------------- */
/* SECTION STYLES */
/* ----------------------------------------------- */

#aboutme {
    background-color: transparent;
    margin: 0px 250px;
    margin-top: 75px;
}

#myprojects {
    background-color: transparent;
}

#myprojects,
ul {
    list-style-type: none;
}

#mycertificates {
    background-color: transparent;
}

#myresume {
    background-color: transparent;
}

#contactme {
    background-color: transparent;
}

.section {
    padding: 40px 0;
    text-align: center;
    min-height: 100vh;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.1rem;
}

#robotics p{
    margin-bottom:30px;
}

/* ----------------------------------------------- */
/* CERTIFICATION STYLES */
/* ----------------------------------------------- */

#mycertificates .certificates {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

#mycertificates .certificate {
    max-width: 400px;
    text-align: center;
}

#mycertificates img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

/* ----------------------------------------------- */
/* IMAGE GALLERY STYLES */
/* ----------------------------------------------- */

#imagegallery .image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#imagegallery .image-item {
    max-width: 800px;
    text-align: center;
}

#imagegallery .image-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}

#imagegallery .image-item p {
    font-size: 1rem;
    margin-top: 10px;
    color: #333;
}

#videogallery .image-item video {
    border-radius:20px;
    margin-top:30px;
    margin-bottom:30px;
}

#videogallery .image-container video {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#videogallery .image-item video {
    border-radius: 8px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}

#imagegalleryrobotics .image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#imagegalleryrobotics .image-item {
    max-width: 800px;
    text-align: center;
}

#imagegalleryrobotics .image-item img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}

#imagegalleryrobotics .image-item p {
    font-size: 1rem;
    margin-top: 10px;
    color: #333;
}

/* ----------------------------------------------- */
/* GAME SHOWCASE STYLES */
/* ----------------------------------------------- */

#gameshowcase {
    background-color: transparent;
    text-align: center;
    padding: 40px 0;
}

#gameshowcase h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#gameshowcase p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#gameshowcase .game-container {
    max-width: 800px;
    margin: 0 auto;
}

#gameshowcase h3 {
    font-size: 1.8rem;
    margin-top: 30px;
}

#gameshowcase ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.1rem;
}

#gameshowcase ul li {
    margin: 10px 0;
}

/* ----------------------------------------------- */
/* CENTERS CONTENT */
/* ----------------------------------------------- */

.container {
    width: 80%;
    margin: 0 auto;
}

/* ----------------------------------------------- */
/* FOOTER STYLES */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* ----------------------------------------------- */
/* LINK STYLES */
/* ----------------------------------------------- */

a {
    color: #0c2461;
    text-decoration: none;
}

a:hover {
    color: #fff;
}